:root {
  --primary-color: #000066;
  --secondary-color: #2f78c4;
  --tertiary-color: #33ccff;
  --bg-color: #0d0d0d;
  --text-color: #808080;
}
/* navbar */
.inf-logo {
  height: 70px;
}
.navbar-brand {
  font-size: 40px;
  font-weight: bold;
  color: var(--primary-color);
}
.navbar-nav .nav-link {
  color: var(--text-color);
}
.navbar-nav .nav-link:active {
  color: var(--text-color);
}
.dropdown,
.disabled {
  display: none;
}
.navbar-nav {
  font-size: 22px;
}
/* hero-section */
.hero-section {
  background-color: var(--primary-color);
  color: white;
}
.hero-section h1 {
  font-size: 70px;
}
.hexagon {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  object-fit: cover;
}
/* carousel */
.carousel {
  height: 100%;
  width: 100%;
}
.carousel-item img {
  height: 600px;
  object-fit: cover;
  width: 100%;
}
