:root {
  --primary-color: #000066;
  --secondary-color: #2f78c4;
  --tertiary-color: #33ccff;
  --bg-color: #0d0d0d;
  --text-color: #808080;
}
/* navbar */
.inf-logo {
  height: 70px;
}
.navbar-brand {
  font-size: 40px;
  font-weight: bold;
  color: var(--primary-color);
}
.navbar-nav .nav-link {
  color: var(--text-color);
}
.navbar-nav .nav-link:active {
  color: var(--text-color);
}
.dropdown,
.disabled {
  display: none;
}
.navbar-nav {
  font-size: 22px;
}
/* hero-section */
.hero-section {
  background-color: var(--primary-color);
  color: white;
}
.hero-section h1 {
  font-size: 70px;
}
.hexagon {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  object-fit: cover;
}
/* carousel */
.carousel {
  height: 100%;
  width: 100%;
}
.carousel-item img {
  height: 600px;
  object-fit: cover;
  width: 100%;
}
/* our-services */
.our-services {
  background-image: url("../images/sky.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0;
  color: white;
}
.our-services h2 {
  font-size: 50px;
}

.our-services img {
  height: 305px;
  width: 600px;
  object-fit: cover;
  border-radius: 15px;
}
.service-box {
  position: relative;
}
.service-overlay {
  position: absolute;
  bottom: 0;
  left: 12px;
  width: 91%;
  height: 30%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px;
  transition: 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.service-overlay h3 {
  font-size: 30px;
  transform: translateY(20px);
  transition: 0.4s ease;
}
.service-overlay p {
  opacity: 0;
  max-height: 0;
  transform: translateY(20px);
  transition: 0.4s ease;
}
.service-box:hover .service-overlay {
  height: 50%;
}
.service-box:hover .service-overlay h3 {
  transform: translateY(0);
  transition: 0.4s ease;
}
.service-box:hover .service-overlay p {
  opacity: 1;
  max-height: 200px;
  transform: translateY(0);
  transition: 0.4s ease;
}
/* news */
.news {
  padding: 60px 0;
}
.news-heading {
  color: var(--primary-color);
}

.news h2 {
  font-size: 50px;
}
.news .news-main img {
  height: 100px;
}
.news .news-main {
  border-color: #808080;
  position: relative;
}
.news .news-main-company {
  font-size: 100px;

  position: absolute;
  top: 48px;
  left: 165px;
  color: var(--primary-color);
}
.news h3 {
  margin-top: 25px;
  color: var(--secondary-color);
  font-size: 30px;
}
.news h3:hover {
  color: var(--bg-color);
}
.news p {
  color: var(--primary-color);
}
.news h4 {
  color: var(--secondary-color);
}
.news h4:hover {
  color: var(--bg-color);
}
.news .custom-btn {
  color: var(--secondary-color);
  font-weight: bolder;
  font-size: 20px;
}
.news .custom-btn:hover {
  color: var(--bg-color);
}

.news .custom-see-all-btn {
  color: var(--secondary-color);
  font-weight: bolder;
  font-size: 20px;
  margin: 15px 0;
  border: 2px solid var(--secondary-color);
  border-radius: 30px;
  padding: 15px;
}
/* contact us */
.contact-us {
  background-color: var(--primary-color);
  color: white;
  padding: 80px 0;
}
.contact-us h2 {
  font-size: 50px;
}
.contact-us .custom-submit-btn {
  color: white;
  font-weight: bolder;
  font-size: 20px;
  font-weight: bolder;

  margin-top: 40px;
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
  border-radius: 30px;
  padding: 15px;
  width: 15%;
}
.contact-us .custom-submit-btn:hover {
  background-color: white;
  border: none;
  color: var(--primary-color);
}
/* footer */
.footer {
  padding: 80px 0;
}
.footer .company img {
  width: 15%;
}
.footer h2 {
  font-size: 50px;
  color: var(--primary-color);
}
.footer h2:hover {
  color: var(--bg-color);
}
